@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h1>Projects</h1>

<ul>
    <li><a href="/Projects" class="btn btn-primary" >Project1</a></li>
</ul>